@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@font-face {
  font-family: 'Norse';
  src: url('Norse-Bold.otf');
}

/* TURN ON FOR DEV TESTING
div{
  border: 2px solid red;
}
*/

 /* =================== \
|        Variables       |
 \ =================== */


 :root {

  --background-cloudy: url("./camille-couvez-unsplash.jpg");
  --background-partly-cloudy: url("./jessica-irani-cloudy.jpg");
  --background-sunny: url("./charles-lebegue-unsplash-sunny.jpg");
  --background-night: url("./sanket-kumbhar-unsplash-night.jpg");
  --background-rain: url("./valentin-muller-unsplash-rainy.jpg");
  --background-snow: url("./damian-mccoig-unsplash-snow.jpg");
  

  --color-bg-primary: ivory;
  --color-bg-secondary: rgb(56, 56, 56);
  --color-text-primary: rgb(56, 56, 56);
  --color-text-secondary: ivory;
  --color-checkbox-green: green;
  --color-state-indeterminate: yellow;
  --color-state-success: limegreen;
  --color-state-error: rgb(225, 0, 0);
  --color-state-caution: orange;
  --color-accent-a: darkcyan;
  --color-accent-b: rgb(187, 161, 11);
  --color-accent-b-faded: rgba(187, 161, 11, 0.75);

  font-size: 18px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 21px;

  font-weight: 500;
  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 600;

  --section-height-header: 5vh;
  --section-height-footer: 5vh;
  --section-height-main: calc(100vh - (var(--section-height-header) + var(--section-height-footer)));

  --width-left-panel: 33vw;
}

 /* =================== \
|         Elements       |
 \ =================== */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text-secondary);
  /* background-color: var(--color-bg-primary); */
  box-sizing: border-box;
  background-image: var(--background-cloudy);
  /* background-size: cover; */
  text-shadow: 2px 2px black;
}

h1{
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  padding: 20px;
  margin-bottom: 20px;
}

h2{
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  padding: 12px;
  margin-bottom: 15px;
}

h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  padding: 10px;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-secondary);
  padding: 10px;
}


header {
  min-height: var(--section-height-header);
  background-color: transparent;
}

footer {
  min-height: var(--section-height-footer);  
  padding: auto 0; 
  background-color: transparent;
}


ul {
  list-style: none;
}

li {
  padding: 4px 8px;
}

main {
  min-height: var(--section-height-main);
  padding: 20px;
  
}

/* Will need to replace the OS styles */
input{
  appearance: none;
  min-height: 3em;
  border: 2px solid rgb(56, 56, 56);
  border-radius: 5px;
}

input::placeholder{
  padding: 4px 8px;
}

input[type="checkbox"]{
  position: relative; /* This is key, otherwise the checkbox is not clickable */
  border: 1px solid black;
  width: 1em;
  height: 1em;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -4px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

input[type="checkbox"]::before{
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

/* Must do :state::psuedo-class not
the other way around */
input[type="checkbox"]:checked::before{
  visibility: visible;
}

/*
input[type="radio"]{
  
}

input[type="radio"]:checked::before{
  
}

input[type="radio"]::before{
  
}
*/

legend{
  color: green;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  border: 2px solid green;
}

input:read-only{
  background-color: lightgray;
}

input:autofill {
  border: 1px solid purple;  
}

input:-webkit-autofill{
  border: 10px solid purple;
}

button{
  background-color: rgb(56, 56, 56);
  color: ivory;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: scale(0.9);
}


a, a:visited, a:active {
  color: inherit;
}

a:hover{
  color: inherit;
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

 /* =================== \
|         Classes        |
 \ =================== */ 

.section-wrapper {
  min-height: 30vh;
  border: 2px dashed red;
}

.deck {
  padding: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 2px dashed red;
  height: 150px;
}

.card {
  gap: 8px;
  padding: 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-bg-secondary);
  border-radius: 5px;
}

.output {
  background-color: transparent;
  max-width: 90%;
  min-height: 80px;
  margin: 0 auto;
  display: flex;  
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

.clock {
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
}

.local-time {
  font-size: 3em;
}

.current-city {
  display: inline-block;
  font-size: 1.25em;
  color: rgb(218, 255, 71);
  /* text-shadow: 0px 0px 2px black; */
}

.weather-icon {
  position: relative;
  width: 60px;
  height: 60px;
  top: -10px;
}

.current-container{
  justify-content: center;
  display: flex;
  min-width: 250px;
}

.current-weather-title {
  /* text-shadow: 0px 0px 2px black; */
  position: relative;
}

.city-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-search > * {
  max-width: 300px;
}

#submit {
  margin-bottom: 30px;
  border-radius: 5px;
  border: 2px solid rgb(56, 56, 56);
}

.output-item {
  flex: 1;
  min-width: 120px;
}

.metric-data {
  font-size: 2em;
}

/* LOADER */

.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes 
rotate {  100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}

@keyframes 
rotate {  100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}

@-webkit-keyframes 
  dash {  0% {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
}
 50% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -35;
}
 100% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -124;
}
}

@keyframes 
dash {  0% {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
}
 50% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -35;
}
 100% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -124;
}
}

@-webkit-keyframes 
color {  100%, 0% {
 stroke: #3cba54;
}
 40% {
 stroke: #3cba54;
}
 66% {
 stroke: #3cba54;
}
 80%, 90% {
 stroke: #3cba54;
}
}

.hide {
  display: none;
}